LASSO AND RIDGE REGRESSION example using linear regression model to predict house prices in Melboure

In [67]:
#import relevant libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [68]:
#Load data set
Mel_House = pd.read_csv("C:\\Users\\ofagb\\OneDrive\\Documents\\Machine Learning\\melb_data.csv")

In [3]:
Mel_House

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [4]:
Mel_House.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [5]:
#Checkng for null values
Mel_House.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [9]:
#unique categories for each column
Mel_House.nunique()

Suburb             314
Address          13378
Rooms                9
Type                 3
Price             2204
Method               5
SellerG            268
Date                58
Distance           202
Postcode           198
Bedroom2            12
Bathroom             9
Car                 11
Landsize          1448
BuildingArea       602
YearBuilt          144
CouncilArea         33
Lattitude         6503
Longtitude        7063
Regionname           8
Propertycount      311
dtype: int64

In [69]:
#Drop irrelavant columns
Mel_House = Mel_House.drop(columns= ['Address', 'Date', 'Postcode', 'YearBuilt', 'Lattitude', 'Longtitude'], axis = 1)

In [70]:
Mel_House.shape

(13580, 15)

In [13]:
Mel_House.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,Yarra,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,Yarra,Northern Metropolitan,4019.0
2,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,Yarra,Northern Metropolitan,4019.0
3,Abbotsford,3,h,850000.0,PI,Biggin,2.5,3.0,2.0,1.0,94.0,NaN,Yarra,Northern Metropolitan,4019.0
4,Abbotsford,4,h,1600000.0,VB,Nelson,2.5,3.0,1.0,2.0,120.0,142.0,Yarra,Northern Metropolitan,4019.0

In [14]:
Mel_House.isnull().sum()

Suburb              0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Distance            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
CouncilArea      1369
Regionname          0
Propertycount       0
dtype: int64

In [71]:
#filling null variables
Mel_House['Car'] = Mel_House['Car'].fillna(Mel_House.Car.mean)
Mel_House['BuldingArea'] = Mel_House['BuildingArea'].fillna(Mel_House.BuildingArea.mean)
Mel_House['CouncilArea'] = Mel_House['CouncilArea'].fillna(Mel_House.CouncilArea.mean)

In [24]:
Mel_House.isnull().sum()

Suburb              0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Distance            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea     6450
CouncilArea         0
Regionname          0
Propertycount       0
BuldingArea         0
dtype: int64

In [72]:
Mel_House.shape

(13580, 16)

In [73]:
Mel_House = Mel_House.drop(columns= ['BuildingArea'], axis = 1)

In [27]:
Mel_House.shape

(13580, 15)

In [28]:
Mel_House.isnull().sum()

Suburb           0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
CouncilArea      0
Regionname       0
Propertycount    0
BuldingArea      0
dtype: int64

In [35]:
Mel_House.dtypes

Rooms                    int64
Price                  float64
Distance               float64
Bedroom2               float64
Bathroom               float64
                        ...
BuldingArea_294.0        uint8
BuldingArea_575.0        uint8
BuldingArea_653.0        uint8
BuldingArea_44515.0      uint8
BuldingArea_368.0        uint8
Length: 1246, dtype: object

In [74]:
#Convert categorical features into dummy variables
Mel_House = pd.get_dummies(Mel_House, drop_first = True)

In [31]:
Mel_House.head()

,Rooms,Price,Distance,Bedroom2,Bathroom,Landsize,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,Suburb_Albanvale,...,BuldingArea_677.0,BuldingArea_439.0,BuldingArea_503.0,BuldingArea_512.0,BuldingArea_259.0,BuldingArea_294.0,BuldingArea_575.0,BuldingArea_653.0,BuldingArea_44515.0,BuldingArea_368.0
0,2,1480000.0,2.5,2.0,1.0,202.0,4019.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1035000.0,2.5,2.0,1.0,156.0,4019.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1465000.0,2.5,3.0,2.0,134.0,4019.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,850000.0,2.5,3.0,2.0,94.0,4019.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1600000.0,2.5,3.0,1.0,120.0,4019.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [75]:
#split data set into target and features
X = Mel_House.drop(columns= ['Price'], axis = 1)
y = Mel_House['Price']

In [76]:
#split into train and test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 2)

In [77]:
#fit data in models
Linear_reg = LinearRegression().fit(X_train, y_train)

In [78]:
Linear_reg.score(X_train, y_train)

0.7619086455743207

In [79]:
Linear_reg.score(X_test,y_test)

-2730294710814.649

In [80]:
#Regularisation Models Lasso(L1)
from sklearn import linear_model
lasso_reg = linear_model.Lasso(alpha = 10, max_iter = 100, tol=0.1)
lasso_reg.fit(X_train, y_train)

C:\Users\ofagb\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.631e+14, tolerance: 4.519e+14
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=10, max_iter=100, tol=0.1)

In [81]:
lasso_reg.score(X_train, y_train)

0.7606711890009135

In [82]:
lasso_reg.score(X_test, y_test)

0.6140325396514567

In [83]:
#Regularisation Models Ridge(L2)
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 10, max_iter = 100, tol=0.1)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=10, max_iter=100, tol=0.1)

In [84]:
ridge_reg.score(X_train, y_train)

0.7207255744591997

In [85]:
ridge_reg.score(X_test, y_test)

0.6292210344565954